@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* color-scheme: light dark; */

  --clr-accent-500: hsl(156, 60%, 45%);
  --clr-accent-400: hsl(156 62 40);
  --clr-accent-300: hsl(156, 62%, 65%);
  --clr-accent-200: hsl(156, 62%, 80%);
  --clr-accent-100: hsl(156, 62%, 96%);

  --clr-primary-200: hsl(228, 25%, 13%);
  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-700: hsl(232, 12%, 30%);
  --clr-neutral-600: hsl(232, 12%, 40%);
  --clr-neutral-300: hsl(232 12% 60%);
  --clr-neutral-200: hsl(232 12% 80%);
  --clr-neutral-150: hsl(232 12% 90%);
  --clr-neutral-100: hsl(0 0% 100%);

  --ff-primary: sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: .8125rem;
  --fs-400: .875rem;
  --fs-500: 1rem;
  --fs-600: 1.875rem;
  --fs-700: 2.5rem;

  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-500);
  --fs-primary-heading: var(--fs-500);
  --fs-secondary-heading: var(--fs-400);
  --fs-button: var(--fs-300);

  --size-100: .25rem;
  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;




  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: hsla(222, 47%, 11%, 0.8);
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
  --bg-clr: #f1f5f9;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


body{
  display: grid;
  place-content: center;
height: 100dvh;
}
main{
  display: grid;
  place-content: center;
}
#canvas1{
  border: 2px solid black;
  max-width: 98vw;
  max-height: 98vh;
}

.player, #pole, #poleRotated, .layer{
  display: none;
}